archive
.env
append_daily.py


# Python
.aws_venv/
__pycache__/
*.pyc
.venv/

# Credentials
credentials.json
.aws/

# Environment files
config/.dev.env
config/.prod.env
.env
.env.*


# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform/
*.tfstate.*
crash.log

# IDE
.vscode/

# Mac
.DS_Store