AWS_REGION=eu-central-1

AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY

BUCKET_NAME=banking-iceberg-data-dev
GLUE_DATABASE_NAME=transaction_db_dev
TABLE_NAME=transaction_logs